[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ForestGapR"]
	path = ForestGapR
	url = https://github.com/carlos-alberto-silva/forestgapr
[submodule "rLiDAR"]
	path = rLiDAR
	url = https://github.com/carlos-alberto-silva/rlidar
[submodule "rTLsDeep"]
	path = rTLsDeep
	url = https://github.com/carlos-alberto-silva/rtlsdeep
[submodule "treetop"]
	path = treetop
	url = https://github.com/carlos-alberto-silva/weblidar-treetop
